h1,h2,h3,h4 {
	font-weight: bold;
}

/* Navbar */
.navbar-socc {
  background-color: #332828;
  border-color: #e7e7e7;
  color: white;
}

/* Sections */
.scrolling-white-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.scrolling-gray-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/* Labels, Buttons */
.label-socc, .btn-socc {
	font-weight: normal;
}

/* Images */
.logo {
	max-width: 50%;
	max-height: 50%;
}

.photo {
	width: 50%;
	height: 50%;
    border-radius: 50%;
}

.project-logo {
	max-height: 75px;
    border-radius: 50%;
}

/* News */
.news {
    text-align: justify;
	font-size: 80%;
}