h1, h2, h3, h4 {
  font-weight: bold;
}


/* Navbar */

.navbar-socc {
  background-color: #332828;
  border-color: #e7e7e7;
  color: white;
}


/* Sections */

.scrolling-white-section {
  background: #fff;
  min-height: 100%;
  /*padding-bottom: 100px;*/
  padding-top: 150px;
  text-align: center;
}

.scrolling-gray-section {
  background: #eee;
  min-height: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

#prototypes-content p, #projects-content p {
	font-size: 18px;
}


/* Labels, Buttons */

.label-socc, .btn-socc {
  font-weight: normal;
}


/* Images */

.logo {
  max-height: 50%;
  max-width: 50%;
}

.photo {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.project-logo {
  border-radius: 50%;
  max-height: 75px;
}

#collaborators-content {
  margin-top: 10px
}

/* News */
.news {
  font-size: 80%;
  text-align: justify;
}
